
.header div {

    float: initial;
    color: black;
    text-align: center;
    padding: 25px;
    padding-right: 300px;
    padding-left: 120px;
    text-decoration: none;
    font-size: 40px;
    line-height: 15px;
    border-radius: 10px;
    margin-top: -12px;
}


.header div.active{
    background-color: dodgerblue;
    color: white;
}

.header-right{
    float: right;
}

#location
{
    float: initial;
    color: black;
    text-align: center;
    padding: 25px;
    padding-right: 150px;
    text-decoration: none;
    font-size: 25px;
    line-height: 5px;
    border-radius: 10px;
    margin-top: -12px;
    background-color: dodgerblue;
    color: white;
    margin-left: 580px;
    margin-bottom: 10px;
}

/* Create four equal columns that float next to each other */
.column{
    float: left;
    width: 24%;
    padding: 10px;
    height: 470px;
    overflow: auto;
}

/*Clear floats after the columns */
.row::after{
    content: "";
    display: table;
    clear:both;
}

.box{
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 60%);
}
